@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-neon {
    border-color: #39ff14;
  }

  .text-neon {
    color: #39ff14;
  }

  .shadow-neon {
    box-shadow: 0 0 15px #39ff14, 0 0 30px #39ff14 inset;
  }

  .bg-card {
    background-color: #111827;
  }

  .bg-neon\/10 {
    background-color: rgba(57, 255, 20, 0.1);
  }
}
